@charset "UTF-8";

body {
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(20, 60, 20);
}
#principal {
    text-align: center;
    background-color: green;
    color: white;
}

h2{
    color: rgb(13, 44, 13);
}
.basico{
    color:yellow;
    font-weight: bold;
}

.intermediario{
    color: orange;
    font-weight: bold;
}

.avancado {
    color: red;
    font-weight: bold;
}