@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

html, body{ 
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    padding: 10px;
}

body{
    background-image: linear-gradient(to top, black, white) ;
}