@charset "UTF-8";
body {
    position: relative;
    height: 97vh;

    background-color: rgb(2, 2, 52);
    background-image:url(imagens/espaco.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

main > img{
    
    display: inline-block;
    height: 310px;
    max-width: 500px;
    position: absolute;
    left:50%;
    top:70%;
    transform: translate(-50%, -90%);
}

