#charset "UTF-8";
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*height: 100%;*/
}
body {
    background-image: linear-gradient(to top, #914DFF, #6D2CD4,#07114A);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(14, 18, 42);
    width: 600px;
    padding: 10px;
    margin: auto
}
h1 {
    color: #614A1C;
    text-align: center;
    text-shadow: 1px 1px 2px #31250eab;

}
h2 {
    color: #7D4500;
}
p {
    text-align: justify;
}